# digitaltornado.net - Static HTML site
DirectoryIndex index.html
Options -Indexes

# Override any inherited access restrictions from parent directory
<IfModule mod_authz_core.c>
  Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
  Satisfy any
</IfModule>
